@font-face {
    font-family: LinuxLibertine;
    src: url("fonts/LinLibertine_Rah.ttf");
    size-adjust: 110%;
}

@font-face {
    font-family: LinuxLibertine;
    src: url("fonts/LinLibertine_RIah.ttf");
    font-style: italic;
    size-adjust: 110%;
}

@font-face {
    font-family: LinuxLibertine;
    src: url("fonts/LinLibertine_RBah.ttf");
    font-weight: bold;
    size-adjust: 110%;
}

@font-face {
    font-family: LinuxLibertine;
    src: url("fonts/LinLibertine_RBIah.ttf");
    font-weight: bold;
    font-style: italic;
    size-adjust: 110%;
}

@font-face {
    font-family: NotoSerif;
    src: url("fonts/NotoSerifJP-VariableFont_wght.ttf");
}

body {
    overflow: hidden;
    margin-top: 0;
    background-color: #f8fafc;
    font-family: LinuxLibertine, NotoSerif;
    font-feature-settings: "palt";
}

#app {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}

#main {
    margin-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

#sidebar {
    margin-top: 8px;
    height: calc(100vh - 1rem);
}

#sidebar .p-card-body {
    height: 100%;
    padding: 0;
}

#sidebar .p-card-content {
    height: 100%;
    padding: 0;
}

#sidebar-layout {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    box-sizing: border-box;
}

#search {
    flex-shrink: 0;
}

#history {
    flex-grow: 1;
    overflow-y: auto;
    min-height: 0;
}

.history-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.p-button-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#logo {
    flex-shrink: 0;
    text-align: center;
    color: #676a74;
    user-select: none;
}
